doctype html
html
    head
        script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-159453647-3")
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', 'UA-159453647-3');
        meta(charset='utf-8')
        meta(name='viewport', content='width=1920,height=1080,initial-scale=1.0')
        meta(name="google" content="notranslate")
        title Tournament Management
        link(rel="stylesheet",
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap")
        style.
            body {
                font-family: 'Poppins', sans-serif;
                padding: 0;
                margin: 0;
                /*background-color: rgba(0, 0, 0, 0);*/
                background-color: black;
            }

            a {
                color: white !important;
            }

            .display {
                /*background-color: white;*/
                border: 1px solid black;
                width: 1920px;
                height: 1080px;
                display: grid;
                grid: 1fr 40px / 1fr;
            }

            .header, .body {
                place-self: center;
            }

            .body {
                color: white;
                display: grid;
                grid: auto 1fr / 1fr;
                row-gap: 24px;
            }

        block styles
    body
        .display
            .body
                block content
            .footer


        script(src='https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.2/d3.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js')
        script(src='https://cdn.jsdelivr.net/sockjs/0.3.4/sockjs.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/vertx/3.9.3/vertx-eventbus.min.js')

        script.
            const streamerCode = '#{streamerCode}';

        script(src='/js/stream/ws.js')
        block scripts
