extends ./default-layout

block styles
    style.
        !{tournament_styles}
        .menu {
            margin-bottom: 18px;
        }

        .tournament-header {
            display: flex;
            justify-content: flex-start;
            margin-top: 8px;
        }

        .tournament-header .box {
            margin-right: 24px;
        }

        .tournament-header .box .sub {
            size: 0.8em;
            color: #BCBCBC;
        }

        .tournament-header .box .name {
            text-align: right;
            margin-left: 24px;
        }

        .tournament-header .box .name a {
            font-size: 1.2em;
            color: #e2e2e2;
        }

mixin subtitle(name)
    - var uuid = tournament.getString("uuid")
    .tournament-header
        .box
            .sub Tournament
            .name: a(href="/auth/tournament/" + uuid + "/home")= tournament.getString("name")
        if team
            .box
                .sub Team
                .name: a(href="/auth/tournament/" + uuid + "/teams/" + team.getString("uuid") + "/edit")= team.getString("name")

    h2
        span.accent= name

    .menu
        - var roles = tournament.getString("roles") == null ? "" : tournament.getString("roles")
        - var isSuperuser = character.getBoolean("isSuperuser")
        - var isCreator = tournament.getBoolean("is_creator")
        - var isCaptain = tournament.getBoolean("is_captain")
        - var isPilot = tournament.getBoolean("is_pilot")
        a(href="/auth/tournament/" + uuid + "/home") Home
        if isSuperuser || isCreator || roles.contains("organiser")
            a(href="/auth/tournament/" + uuid + "/edit") Edit details
            a(href="/auth/tournament/" + uuid + "/delete") Delete

        a(href="/wip") Search for pilot
        a(href="/auth/tournament/" + uuid + "/teams") Manage teams
        a(href="/auth/tournament/" + uuid + "/thunderdome") Manage Thunderdome

        if isSuperuser || isCreator || roles.contains("organiser")
            a(href="/auth/tournament/" + uuid + "/roles") Manage roles

        if isSuperuser || isCreator || roles.contains("organiser") || roles.contains("referee")
            a(href="/auth/tournament/" + uuid + "/referee") Referee

block scripts

