extends ./default-layout

mixin subtitle(name)
    - var uuid = tournament.getString("uuid")
    h2
        a(href="/auth/tournament/" + uuid + "/home")= tournament.getString("name")
        | &nbsp;
        span.accent= name
    if team
        h2
            a(href="/auth/tournament/" + uuid + "/teams/" + team.getString("uuid") + "/edit")= team.getString("name")

block styles
    style.
        !{tournament_styles}

block scripts

