extends ./default-layout

mixin subtitle(name)
    - var uuid = tournament.getString("uuid")
    h2
        a(href="/auth/tournament/" + uuid + "/home")= tournament.getString("name")
        | &nbsp;
        span.accent= name
    if team
        h2
            a(href="/auth/tournament/" + uuid + "/teams/" + team.getString("uuid") + "/edit")= team.getString("name")

    .menu
        - var roles = tournament.getString("roles") == null ? "" : tournament.getString("roles")
        - var isSuperuser = character.getBoolean("isSuperuser")
        - var isCaptain = tournament.getBoolean("is_captain")
        - var isPilot = tournament.getBoolean("is_pilot")
        a(href="/auth/tournament/" + uuid + "/home") Home
        if isSuperuser || roles.contains("organiser")
            a(href="/auth/tournament/" + uuid + "/edit") Edit details
            a(href="/auth/tournament/" + uuid + "/delete") Delete

        a(href="#") Search for pilot
        a(href="/auth/tournament/" + uuid + "/teams") Manage teams
        a(href="/auth/tournament/" + uuid + "/thunderdome") Manage Thunderdome

        if isSuperuser || roles.contains("organiser")
            a(href="/auth/tournament/" + uuid + "/roles") Manage roles

        if isSuperuser || roles.contains("organiser") || roles.contains("referee")
            a(href="/auth/tournament/" + uuid + "/referee") Referee

block styles
    style.
        !{tournament_styles}
        .menu {
            margin-bottom: 18px;
        }

block scripts

