extends ./default-layout

mixin subtitle(name)
    - var uuid = tournament.getString("uuid")
    h2
        a(href="/auth/tournament/" + uuid + "/teams")= tournament.getString("name")
        | &nbsp;
        span.accent= name

block styles
    style.
        !{tournament_styles}
        h2 a {
            color: white;
        }

        h2 .accent {
            color: #f99e00
        }

block scripts

