extends ./default-layout

block styles
    style.
        !{tournament_styles}
        .menu {
            margin: 12px 0 12px;
        }

        .tournament-header {
            display: grid;
            grid-template-columns: auto auto auto 1fr;
            grid-template-areas:
                "left left left right";
            grid-gap: 24px;
            margin-top: 8px;
            border-bottom: 1px solid #815200;
            padding-bottom: 12px;
            margin-bottom: 12px;
        }

        .tournament-header .box .sub {
            size: 0.8em;
            color: #BCBCBC;
        }

        .tournament-header .box .name {
            text-align: right;
            margin-left: 24px;
        }

        .tournament-header .box .name a {
            font-size: 1.2em;
            color: #e2e2e2;
        }

        .tournament-header .logo {
            max-width: 128px;
            max-height: 128px;
        }

        .tournament-header h2 {
            grid-area: right;
            margin-top: 0;
            align-self: start;
            justify-self: end;
        }


mixin subtitle(name)
    - var uuid = tournament.getString("uuid")

    .menu
        - var roles = tournament.getString("roles") == null ? "" : tournament.getString("roles")
        - var isSuperuser = character.getBoolean("isSuperuser")
        - var isCreator = tournament.getBoolean("is_creator")
        - var isCaptain = tournament.getBoolean("is_captain")
        - var isPilot = tournament.getBoolean("is_pilot")

        a(href="/auth/tournament/" + uuid + "/home") Home
        if isSuperuser || isCreator || roles.contains("organiser")
            a(href="/auth/tournament/" + uuid + "/edit") Edit
            a(href="/auth/tournament/" + uuid + "/delete") Delete

        a(href="/wip") Search for pilot
        a(href="/auth/tournament/" + uuid + "/teams") Teams
        a(href="/auth/tournament/" + uuid + "/thunderdome") Thunderdome

        if isSuperuser || isCreator || roles.contains("organiser")
            a(href="/auth/tournament/" + uuid + "/roles") Roles

        if isSuperuser || isCreator || roles.contains("organiser") || roles.contains("referee")
            a(href="/auth/tournament/" + uuid + "/referee") Referee

        if isSuperuser || isCreator || roles.contains("organiser") || roles.contains("referee")
            a(href="/auth/tournament/" + uuid + "/stream/deck") Stream Deck

    .tournament-header
        if team
            img.logo(src=team.getString("logo") + "?size=128")
        .box
            .sub Tournament
            .name: a(href="/auth/tournament/" + uuid + "/home")= tournament.getString("name")
        if team
            .box
                .sub Team
                .name
                    a(href="/auth/tournament/" + uuid + "/teams/" + team.getString("uuid") + "/edit")= team.getString("name")
        h2
            span.accent= name

block scripts

