extends ../../layout/streamer-layout

block content
    .teamname
    .pilots

block scripts
    script.
        const team = {
            name: 'Red Team',
            pilots: [
                {name: 'Levi Nineveh', char_id: 624049117, ship: 'Hecate', ship_id: 35683},
                {name: 'Rixx Javix', char_id: 95308308, ship: 'Rokh', ship_id: 24688},
                {name: 'Eargonall Kaundur', char_id: 90308296, ship: 'Loki', ship_id: 29990},
                {name: 'Xoorauch Destroyer', char_id: 90781655, ship: 'Megathron', ship_id: 641},
                {name: 'Ithugor Wells', char_id: 1001131163, ship: 'Daredevil', ship_id: 17928},
                {name: 'Stowesh', char_id: 2115931058, ship: 'Sleipnir', ship_id: 22444},
                {name: 'TheLastSparton', char_id: 96552886, ship: 'Sleipnir', ship_id: 22444},
                {name: 'Tyrion Hekki', char_id: 1783706639, ship: 'Sleipnir', ship_id: 22444},
                {name: 'dexter xio', char_id: 1737852458, ship: 'Griffin', ship_id: 584},
                {name: 'Mira Chieve', char_id: 2117448845, ship: 'Griffin', ship_id: 584}
            ]
        }
    script(src='/js/stream/home.js')
