extends ../../layout/streamer-layout

block styles
    style.
        .display {
            /*background-image: url("/assets/tmp/exefile_2020-10-17_20-52-11.png")*/
        }

        @font-face {
            font-family: Shentox;
            src: url("/assets/fonts/Shentox-Regular.otf") format("opentype");
        }

        body {
            font-family: Shentox;
        }

        .overlay {
            display: grid;
            width: 1920px;
            grid: 858px auto / 175px 150px 1fr 160px 175px;
            grid-template-areas:
                ". ... . .... ."
                ". red . blue .";
            align-items: start;
            justify-items: start;
            font-size: 0.8em;
            letter-spacing: 0.1em;
            line-height: 14px;
        }

        .colour-overlay {
            opacity: 0.2;
            height: 18px;
            width: 680px;
            position: absolute;
        }

        .red .colour-overlay {
            margin-top: -16px;
            margin-left: -20px;
        }

        .blue .colour-overlay {
            margin-top: -16px;
            margin-left: -492px;
        }

        .red .pilot {
            background-color: #271d1d;
            padding: 0 14px;
            margin: 4px 0;
            width: 100%
        }

        .blue .pilot {
            background-color: #1b1f2f;
            padding: 0 14px;
            margin: 4px 0 4px -14px;
            width: 100%
        }

        .pilots.red {
            grid-area: red;
        }

        .pilots.blue {
            grid-area: blue;
        }

block content

    .overlay
        .pilots.red
        .pilots.blue

block scripts
    script(src='/js/stream/ttoverlay.js')
