extends ../../layout/streamer-layout

block styles
    style.
        .display {
            background-image: url("/assets/tmp/exefile_2020-10-22_17-39-11.png")
        }

        @font-face {
            font-family: Shentox;
            src: url("/assets/fonts/Shentox-Regular.otf") format("opentype");
        }

        body {
            font-family: Shentox;
        }

        .body {
            align-self: start;
        }

        .overlay {
            display: grid;
            width: 1920px;
            grid: 777px 81px auto / 1fr 242px 1fr;
            grid-template-areas:
                "... names  ...."
                "... ...... ...."
                "red spacer blue";
            font-size: 0.8em;
            letter-spacing: 0.1em;
            line-height: 14px;
            column-gap: 8px;
        }

        .colour-overlay {
            opacity: 0.2;
            height: 18px;
            margin-top: -16px;
        }

        .pilot {
            margin: 4px 0px;
            width: 100%;
            white-space: nowrap;
        }

        .pilot .row-wrapper {
            display: grid;
        }

        .red .pilot .row-wrapper {
            grid: auto-flow / auto 478px;
        }

        .blue .pilot .row-wrapper {
            grid: auto-flow / 478px auto;
        }

        .red .pilot .shipname-wrapper {
            background-color: #271d1d;
            padding: 0 12px;
        }

        .blue .pilot .shipname-wrapper {
            background-color: #1b1f2f;
            padding: 0 12px;
        }

        .pilots.red {
            grid-area: red;
            justify-self: end;
        }

        .pilots.blue {
            grid-area: blue;
            justify-self: start;
        }

        .names {
            grid-area: names;
            display: grid;
            grid: auto-flow / 400px 360px 400px;
            grid-template-areas:
                "redname . bluename";
            font-size: 1.8em;
            align-items: end;
            justify-content: center;
            white-space: nowrap;
        }

        .names > div {
            padding: 6px 20px;
        }

        .redname {
            grid-area: redname;
            justify-self: end;
            background-color: #510a0a;
        }

        .bluename {
            grid-area: bluename;
            justify-self: start;
            background-color: #00204a;
        }

        .spacer {
            /*border: 1px solid green;*/
            /*width: 100%;*/
            /*height: 100%;*/
        }

block content

    .overlay
        .names
            .redname
            .bluename
        .pilots.red
        .spacer(style="grid-area: spacer")
        .pilots.blue

block scripts
    script(src='/js/stream/ttoverlay.js')
