extends ../../layout/streamer-layout

block styles
    link(rel="stylesheet" href="/css/5.css")

block content
    //.debug
    .history

block scripts
    script(src='/js/stream/5.js')
    script.
        window.streamInit5('.history', 'red');
