extends ../../layout/tournament-layout

block append styles
    style.
        .widgets {
            display: grid;
            grid: auto-flow / 1fr 1fr 1fr;
            gap: 12px;
        }

        .widget {
            display: grid;
            grid: auto auto / auto;
        }

        .widget h3 {
            place-items: center;
        }

        .widget .w {
            justify-self: stretch;
            align-self: start;
        }

        .w.clear {
            font-size: 2em;
            text-align: center;
        }

        .w {
            --padding: 20px 15px;
            font-size: 0.5em;
            cursor: pointer;
            /*transform: scale(0.5);*/
            /*transform-origin: left top;*/
        }

        .stacked-chart .tick, .line-chart .tick {
            font-size: 2em;
        }

    link(rel="stylesheet" href="/css/5.css")

block content
    - var uuid = tournament.getString("uuid")

    mixin subtitle("Stream Deck")

    a(href=streamerOverlayUrl, target="_blank") preview full size/stream overlay url

    h2 Current match
    .widgets
        .widget
            h3 Clear
            .w.clear
                | clear
        .widget
            h3 Red Team History
            .w.red-team-history
        .widget
            h3 Blue Team History
            .w.blue-team-history
    .widget
        h3 Sankey
        .sankey
    .widget
        h3 Line Chart
        .line-chart
    .widget
        h3 Stacked
        .stacked-chart

block scripts
    - var uuid = tournament.getString("uuid")
    script(src='/js/stream/5.js')
    script(src='https://unpkg.com/d3-sankey@0')
    script(src='/js/stream/sankey.js')
    script(src='/js/stream/line-chart.js')
    script(src='/js/stream/stacked-chart.js')
    script.
        var eb = new EventBus("/ws");
        eb.enableReconnect(true);

        function requestWidget(colour) {
            eb.publish('streamer.widget-request', {colour: colour});
        }
        d3.select('.clear').on('click', e => eb.publish('streamer.widget-clear'));
        streamInit5('.red-team-history', 'red');
        d3.select('.red-team-history').on('click', e => requestWidget('red'));
        streamInit5('.blue-team-history', 'blue');
        d3.select('.blue-team-history').on('click', e => requestWidget('blue'));
        streamInitSankey('.sankey');
        streamInitLineChart('.line-chart');
        streamInitStackedChart('.stacked-chart');
