extends ../../layout/default-layout

block styles
    style.

block content
    h2 Overlay mode

    p Coordinate with the ref - as soon as they 'record' the match lineup using the Referee page your overlays will update.
    p NB You need to clickon the overlay name to get it to refresh.
    ul
        li: a(href="#", onclick="javascript:send(1)") OBS Instructions
        li: a(href="#", onclick="javascript:send(2)") "VS" & big team logos
        li: a(href="#", onclick="javascript:send(4)") Cam view overlay

    h3 examples / work in progress
    ul
        li: a(href="#", onclick="javascript:send(3)") e.g. Red Team lineup

block scripts
    script.
        function send(num) {
            d3.json('/auth/stream/manage/' + num, {
                method: 'POST',
                headers: {
                    "Content-type": "application/json; charset=UTF-8"
                },
                body: {}
            }).then(json => {
                console.log('sent');
            });
        }
