extends ../../layout/streamer-layout

block styles
    style.
        @font-face {
            font-family: Shentox;
            src: url("/assets/fonts/Shentox-Regular.otf") format("opentype");
        }

        .overlay {
            font-family: Shentox;
        }

block content
    .overlay

block scripts
    script(src='/js/stream/shared.js')
