extends ../layout/default-layout

block styles
    style.

block content
    h2 Welcome Eve tournament community,
    p.
        This website provides tools for managing tournaments, managing access to Thunderdome and supporting team sign
        up and roster management.
    p.
        CCP have been very supportive in the development of these tools and can be provided with access to your
        tournament details to facilitate setting up Thunderdome. However this tool is independently maintained and
        any issues should be raised using the support link at the bottom of the page.
    p.
        Get started by <a href="/tournament/create">creating a tournament</a>.

block scripts
