.redVsBlue {
    display: grid;
    grid: auto / 1fr 1fr;
    gap: 24px;
}

.redVsBlue .label {
    text-align: center;
    color: #f99e00;
    font-size: 0.8em;
    margin: 2px;
}

.redVsBlue .label.left-label {
    text-align: left
}

.redVsBlue .team {
    border-radius: 8px;
    padding: 24px;
    font-size: 1.4em;
}

.redVsBlue .team.red {
    background: radial-gradient(ellipse 90% 140px at 0 0, red, rgba(20, 0, 0, 0.9));
    border: 2px solid lightcoral;
}

.redVsBlue .team.blue {
    background: radial-gradient(ellipse 90% 140px at 0 0, blue, rgba(0, 0, 20, 0.9));
    border: 2px solid lightblue;
}

.redVsBlue .team > .title {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 0.6);
}

.redVsBlue .team > .title .name {
    font-size: 1.8em;
    margin-left: 12px;
}

.redVsBlue .team > .title img {
    max-width: 64px;
}

.redVsBlue .roster .match-numbers,
.redVsBlue .roster .history {
    display: grid;
    place-items: center;
    grid-auto-flow: column;
    grid-auto-columns: 42px;
}

.redVsBlue .roster {
    display: table;
    width: 100%;
}

.redVsBlue .roster .pilot {
    display: table-row;
}

.redVsBlue .roster .pilot > div:nth-child(1) {
    padding: 4px 12px;
    color: #e2e2e2;
}

.redVsBlue .roster .pilot > div:nth-child(2) {
    color: #8d8d8d;
}

.redVsBlue .roster .pilot > div {
    display: table-cell;
    padding: 4px 8px;
    white-space: nowrap;
}

.redVsBlue .fa-times-circle {
    color: red;
}

.redVsBlue .fa-check-circle {
    color: green;
}

.redVsBlue .fa-dot-circle {
    color: grey;
}

.redVsBlue .roster .tournament-numbers,
.redVsBlue .roster .tournaments {
    display: grid;
    place-items: center;
    grid-auto-flow: column;
    grid-auto-columns: 64px;
}

.redVsBlue .t-record .tournament {
    color: #8d8d8d;
}

.redVsBlue .t-record {
    display: flex;
}

.redVsBlue .t-record .label {
    font-size: 0.6em;
}
