extends ../../layout/default-layout

block content
    h2 Referee

    p You are referee for the following tournaments. Please select one to access the referee features.

    .tournaments

block scripts

