extends ../../layout/tournament-layout

block append styles
    style.

        .tool {
            display: grid;
            grid: 266px 266px / 1fr 1fr;
            column-gap: 24px;
            grid-template-areas:
                "form blue-results"
                "form red-results";
        }

        .tool form {
            grid-area: form;
        }

        .tool .blue {
            grid-area: blue-results;
        }

        .tool .red {
            grid-area: red-results;
        }

        textarea {
            width: 100%;
            height: 200px;
            font-size: 80%;
        }

        textarea#red {
            border: 3px solid red;
            -webkit-box-shadow: inset 0 1px 3px red;
            box-shadow: inset 0 1px 3px red;
        }

        textarea#blue {
            border: 3px solid blue;
            -webkit-box-shadow: inset 0 1px 3px blue;
            box-shadow: inset 0 1px 3px blue;
        }

block content
    - var uuid = tournament.getString("uuid")

    mixin subtitle("Referee")

    .tool
        form.pure-form.pure-form-aligned(action="/auth/tournament/" + uuid + "/referee", method="POST")
            fieldset
                .team-input
                    label(for="blue") Blue Team
                    textarea(name="blue", placeholder="paste from ref tool")#blue= form.getString("blue")
                    span.pure-form-message-inline(class=errorField.equals("name") ? "error" : null)= errorField.equals("name") ? "min length 3, ascii characters only" : ""
                .team-input
                    label(for="red") Red Team
                    textarea(name="red", placeholder="paste from ref tool")#red= form.getString("red")
                    span.pure-form-message-inline(class=errorField.equals("name") ? "error" : null)= errorField.equals("name") ? "min length 3, ascii characters only" : ""

                button.pure-button.pure-button-primary(type="submit") Validate

        pre.blue= results.getString("blue")
        pre.red= results.getString("red")


block scripts

