extends ../../layout/tournament-layout

block append styles
    style.
        .tool {
            display: grid;
            grid: auto-flow / auto 1fr;
            column-gap: 24px;
            grid-template-areas:
                 "form matches";
        }

        .tool form {
            grid-area: form;
        }

        .pure-control-group + .pure-control-group {
            margin-top: 24px;
        }

        textarea {
            width: 600px;
            height: 200px;
            font-size: 80%;
        }

        textarea#red {
            border: 3px solid red;
            -webkit-box-shadow: inset 0 1px 3px red;
            box-shadow: inset 0 1px 3px red;
        }

        textarea#blue {
            border: 3px solid blue;
            -webkit-box-shadow: inset 0 1px 3px blue;
            box-shadow: inset 0 1px 3px blue;
        }

        .match {
            display: grid;
            grid: auto-flow / 160px auto;
            justify-items: start;
        }

block content
    - var uuid = tournament.getString("uuid")

    mixin subtitle("Referee")

    .tool
        form.pure-form.pure-form-aligned(action="/auth/tournament/" + uuid + "/referee", method="POST")
            fieldset
                .pure-control-group
                    label(for="blue") Blue Team
                    textarea(name="blue", placeholder="paste from ref tool")#blue= form.getString("blue")
                .pure-control-group
                    label(for="red") Red Team
                    textarea(name="red", placeholder="paste from ref tool")#red= form.getString("red")

                .pure-controls
                    button.pure-button.pure-button-primary(type="submit") Validate

        .matches
            if matches.size() > 1
                each match in matches
                    .match
                        a(href="/auth/tournament/" + uuid + "/match/" + match.getInteger("id"))= match.getString("created_at_formatted")
                        a(href="/auth/tournament/" + uuid + "/match/" + match.getInteger("id")) #{match.getString("blue_team_name")} vs #{match.getString("red_team_name")}

block scripts

