extends ../../layout/tournament-layout

block append styles
    style.
        textarea {
            width: 300px;
            height: 300px;
        }

block content
    - var uuid = tournament.getString("uuid")

    mixin subtitle("Referee")

    form.pure-form.pure-form-aligned(action="/auth/tournament/" + uuid + "/referee", method="POST")
        fieldset
            legend Matches

            .pure-control-group
                label(for="red") Red Team
                textarea(name="red", placeholder="paste from ref tool")#red
                span.pure-form-message-inline(class=errorField.equals("name") ? "error" : null)= errorField.equals("name") ? "min length 3, ascii characters only" : ""
                label(for="blue") Blue Team
                textarea(name="blue", placeholder="paste from ref tool")#blue
                span.pure-form-message-inline(class=errorField.equals("name") ? "error" : null)= errorField.equals("name") ? "min length 3, ascii characters only" : ""

            .pure-controls
                button.pure-button.pure-button-primary(type="submit") Validate

block scripts

