extends ../../layout/tournament-layout

block content
    - var uuid = tournament.getString("uuid")

    mixin subtitle("Referee")

    .wip
        h3 Work in progress
        p This feature is not implemented yet.

block scripts

