extends ../../layout/tournament-layout

include ../includes/matchMixin

block append styles
    style.

        .teams {
            display: grid;
            grid: auto-flow / 1fr;
            gap: 24px;
        }

        @media screen and (min-width: 1350px) {
            .teams {
                grid: auto-flow / 1fr 1fr;
            }
        }

        .teams > .team {
            border: 3px solid;
            border-radius: 5px;
            padding: 12px;
        }

        .team.blue {
            border-color: blue;
        }

        .team.red {
            border-color: red;
        }

        .team h2 {
            margin-top: 2px;
        }

        .blue h2 {
            color: blue;
        }

        .red h2 {
            color: red;
        }

block content
    - var uuid = tournament.getString("uuid")

    mixin subtitle("Referee")

    form.pure-form(action="/auth/tournament/" + uuid + "/referee/record", method="POST")
        input(name="id", type="hidden", value=results.id)
        input(name="blueJson", type="hidden", value=results.blue.encode())
        input(name="redJson", type="hidden", value=results.red.encode())
        fieldset
            a(href="/auth/tournament/" + uuid + "/referee") < back
            | &nbsp;
            button.pure-button.pure-button-primary(type="submit") Record
            | &nbsp;
            | Once you are happy with the teams and the match is going ahead with this lineup then click record. If the teams will be making adjustments then click back and repaste once done.

    .teams
        .team.red
            h2 Red Team
            mixin results(results.red)

        .team.blue
            h2 Blue Team
            mixin results(results.blue)

block scripts

