extends ../../layout/tournament-layout

block append styles
    style.

block content
    - var uuid = tournament.getString("uuid")
    - var isSuperuser = character.getBoolean("isSuperuser")
    - var isCreator = tournament.getBoolean("is_creator")

    mixin subtitle("Home")

    .tournament-info
        p
            span= tournament.getInteger("team_count")
            span &nbsp;teams registered
        p
            span= tournament.getInteger("team_locked_count")
            span &nbsp;teams locked
        p
            span= tournament.getInteger("pilot_count")
            span &nbsp;pilots registered

        - var roles = tournament.getString("roles") == null ? "" : tournament.getString("roles")
        - var isSuperuser = character.getBoolean("isSuperuser")

        if (isSuperuser || isCreator || roles.contains("organiser")) && problems.size() > 0
            h3 Problems
            .problems
                each problem in problems
                    div= problem.getString("message")

    mixin myTeam


