extends ../../layout/default-layout

block content
    h2 Name in use on Thunderdome

    p Please confirm that the name "#{character.getString("characterName")}" is already in use on Thunderdome.
    a(href="/auth/profile/name-in-use/" + character.getInteger("characterId") + "/confirm") Confirm
    a(href="/auth/profile/me") Cancel

block scripts

