extends ../../layout/default-layout

block content
    h2 Name in use on Thunderdome

    p.
        Please confirm that the pilot name "<span style="color: #f99e00">#{character.getString("characterName")}</span>" is already in use on Thunderdome and
        you would like it removed.

    a(href="/auth/profile/name-in-use/" + character.getInteger("characterId") + "/confirm") Confirm
    a(href="/auth/profile/me") Cancel

block scripts

