extends ../../layout/tournament-layout

block content
    - var uuid = tournament.getString("uuid")

    mixin subtitle("Thunderdome")

    p #{total} accounts provided for this tournament
    p #{allocated} allocated

    .actions
        a(target="_blank", href="https://gist.github.com/eve-gatt/67a71719310f4e1c31ec0831df5ada0d") Useful Thunderdome commands

block scripts

