extends ../../layout/tournament-layout

block content
    - var uuid = tournament.getString("uuid")

    mixin subtitle("Thunderdome")

    p #{allocated} out of #{total} accounts allocated

    .wip
        h3 Work in progress
        p This feature is not implemented yet.

block scripts

