extends ../../layout/tournament-layout

block content
    - var uuid = tournament.getString("uuid")

    mixin subtitle("Thunderdome")

    p NNN out of MMM accounts allocated
    p OOO duplicate pilot name issues outstanding

block scripts

