extends ../../layout/tournament-layout

block content
    - var uuid = tournament.getString("uuid")

    mixin subtitle("Thunderdome")

    p #{total} accounts provided for this tournament
    p #{allocated} allocated


block scripts

