extends ../../layout/default-layout

block styles
    style.
        !{tournament_styles}

        h2  {
            color: white;
        }

        h2 .accent {
            color: #f99e00
        }

        textarea {
            width: 50%;
            height: 400px;
        }

        .errors {
            color: red;
            white-space: pre;
        }


block content
    - var uuid = tournament.getString("uuid")
    h2= tournament.getString("name")
        | &nbsp;
        span.accent Import Teams

    form.pure-form.pure-form-aligned(action="/auth/tournament/" + uuid + "/teams/import", method="POST")
        fieldset
            .pure-controls
                .errors= errors

            .pure-control-group
                label(for="tsv") Tab-separated values
                textarea(name="tsv", placeholder=placeholder)#tsv= tsv

            .pure-controls
                button.pure-button.pure-button-primary(type="submit") Import


block scripts
    script(src='/js/teams/import.js')