extends ../../layout/default-layout

block styles
    style.
        !{tournament_styles}

        h2  {
            color: white;
        }

        h2 .accent {
            color: #f99e00
        }


block content
    - var uuid = tournament.getString("uuid")
    h2= tournament.getString("name")
        | &nbsp;
        span.accent Teams

    .teams
        .no-teams This tournament doesn't have any teams registered.
        table.pure-table
            thead
                th Name
                th Captain
                th Actions
            tbody
        a(href="/auth/tournament/" + uuid + "/teams/import") Import teams



block scripts
    script(src='/js/teams/manage.js')