extends ../../layout/tournament-layout

block append styles
    style.
        .teams table {
            margin-bottom: 12px;
        }

block content
    - var uuid = tournament.getString("uuid")

    mixin subtitle("Teams")

    .teams
        .no-teams This tournament doesn't have any teams registered.
        table.pure-table
            thead
                th Name
                th Captain
                th Locked
                th Actions
            tbody
        a(href="/auth/tournament/" + uuid + "/teams/import") Import teams


block scripts
    script.
        const uuid = '#{uuid}';
    script(src='/js/teams/manage.js')
