extends ../../layout/tournament-layout

block append styles
    style.
        .teams table {
            margin-bottom: 12px;
        }

        .teams table td:nth-child(3) {
            text-align: center;
        }

        .teams table td:nth-child(4) {
            text-align: right;
        }

        .teams .team-name {
            display: flex;
            align-items: center;
            white-space: nowrap;
        }

        .teams .team-name img {
            max-width: 18px;
            max-height: 18px;
            margin: 0 6px;
        }

        .legend {
            display: flex;
            justify-content: flex-end;
            gap: 12px;
            margin: 8px;
        }

        .legend div {
            padding: 4px 8px;
        }

        .green {
            background-color: lightgreen;
            color: black;
        }

        .green a {
            color: #07425d
        }

        .yellow {
            background-color: lightgoldenrodyellow;
            color: black;
        }

        .yellow a {
            color: #07425d
        }

        .red {
            background-color: lightcoral;
            color: black;
        }

        .red a {
            color: #07425d
        }

block content
    - var uuid = tournament.getString("uuid")
    - var isSuperuser = character.getBoolean("isSuperuser")
    - var isCreator = tournament.getBoolean("is_creator")
    - var roles = tournament.getString("roles") == null ? "" : tournament.getString("roles")
    - var canImport = isSuperuser || isCreator || roles.contains("organiser")

    mixin subtitle("Teams")

    .teams
        p.no-teams This tournament doesn't have any teams registered.
        .legend
            .green locked
            .yellow members but not locked
            .red no activity
        table.pure-table
            thead
                th Name
                th Captain
                th Locked
                th Members
                th Actions
                th Problems
            tbody
        if canImport
            a(href="/auth/tournament/" + uuid + "/teams/import") Import teams

block scripts
    script.
        const uuid = '#{uuid}';
    script(src='/js/teams/manage.js')
