extends ../../layout/default-layout

block styles
    style.
        @font-face {
            font-family: "Shentox";
            src: url("/assets/fonts/Shentox-Regular2.woff") format('woff');
        }

        body {
            font-family: Shentox;
        }

        .pure-g [class*=pure-u] {
            font-family: Shentox;
        }

        .header .left h1 {
            display: none;
        }

        .header .left {
            background: transparent url("/assets/eventao.png") 0% 0% no-repeat padding-box;
            background-size: 324px 218px;
            background-position: 12px 12px;
            opacity: 1;
        }


block content
    h2 Teams

block scripts
    script(src='/js/teams/manage.js')