extends ../../layout/tournament-layout

block append styles
    style.
        .teams table {
            margin-bottom: 12px;
        }

        .teams table td:nth-child(3) {
            text-align: center;
        }

        .teams table td:nth-child(4) {
            text-align: right;
        }

        .teams .team-name {
            display: flex;
            align-items: center;
            white-space: nowrap;
        }

        .teams .team-name img {
            max-width: 18px;
            max-height: 18px;
            margin: 0 6px;
        }

        .legend {
            display: flex;
            justify-content: flex-end;
            gap: 12px;
            margin: 8px;
        }

        .legend div {
            padding: 4px 8px;
            display: flex;
            gap: 4px;
        }

        .legend .count {
            font-weight: bold;
        }

        .green, .green:empty {
            background: -webkit-linear-gradient(left, darkgreen 0%, #00640020 30%, rgba(222, 222, 222, 0) 100%);
        }

        .yellow, .yellow:empty {
            background: -webkit-linear-gradient(left, darkgoldenrod 0%, #b8860b20 30%, rgba(222, 222, 222, 0) 100%);
        }

        .red, .red:empty {
            background: -webkit-linear-gradient(left, darkred 0%, #8b000020 30%, rgba(222, 222, 222, 0) 100%);
        }

block content
    - var uuid = tournament.getString("uuid")
    - var isSuperuser = character.getBoolean("isSuperuser")
    - var isCreator = tournament.getBoolean("is_creator")
    - var roles = tournament.getString("roles") == null ? "" : tournament.getString("roles")
    - var canImport = isSuperuser || isCreator || roles.contains("organiser")
    - var canRemove = isSuperuser || isCreator || roles.contains("organiser")

    mixin subtitle("Teams")

    .teams
        p.no-teams This tournament doesn't have any teams registered.
        .legend
            .green
                span.count
                | locked
            .yellow
                span.count
                | not locked or rule violations
            .red
                span.count
                | no activity
        table.pure-table
            thead
                th Name
                th Captain
                th Locked
                th Members
                th Actions
                th Problems
            tbody
        .actions
            if canImport
                a(href="/auth/tournament/" + uuid + "/teams/import") Import teams

block scripts
    script.
        const uuid = '#{uuid}';
        const canRemove = #{canRemove}

    script(src='/js/teams/manage.js')
