extends ../../layout/tournament-layout

include ../includes/matchMixin

block append styles
    style.

        .teams {
            display: grid;
            grid: auto-flow / 1fr;
            gap: 24px;
        }

        @media screen and (min-width: 1350px) {
            .teams {
                grid: auto-flow / 1fr 1fr;
            }
        }

        .teams > .team {
            border: 3px solid;
            border-radius: 5px;
            padding: 12px;
        }

        .team.blue {
            border-color: blue;
        }

        .team.red {
            border-color: red;
        }

        .team h2 {
            margin-top: 2px;
        }

        .blue h2 {
            color: blue;
        }

        .red h2 {
            color: red;
        }

block content
    - var uuid = tournament.getString("uuid")
    - var blue = match.getJsonObject("bluejson")
    - var red = match.getJsonObject("redjson")

    mixin subtitle("View match")

    | The following information is as the referee sees it before your match starts.

    .teams
        .team.blue
            h2 Blue Team
            mixin results(blue)

        .team.red
            h2 Red Team
            mixin results(red)

block scripts

