extends ../../layout/default-layout

block append styles
    style.
        .green {
            color: green
        }

block content
    h2 CCP

    h3 Pilot rename requests

    table.pure-table
        thead
            th Reported
            th Name
            th Assigned TD account
            th Resolved
            th Actions
        tbody
            each report in reports
                tr
                    td= report.getString("reportedAtFormatted")
                    td= report.getString("name")
                    td= report.getString("username")
                    td
                        if report.getBoolean("resolved")
                            i.fas.fa-check.green
                    td
                        if !report.getBoolean("resolved")
                            a(href="/auth/ccp/rename/" + report.getString("uuid") + "/resolve") resolve

block scripts

