extends ../../layout/default-layout

block content
    h2 Superuser

    h3 Jobs

    table.pure-table
        thead
            th Job
            th Actions
        tbody
            tr
                td Check captain's alliance membership
                td: a(href="/auth/superuser/job/check-captains-alliance-membership") Run
            tr
                td Check pilot's alliance membership
                td: a(href="/auth/superuser/job/check-pilots-alliance-membership") Run
            tr
                td Check pilots on only one team
                td: a(href="/auth/superuser/job/check-pilots-on-one-team") Run

block scripts

